RewriteEngine On

#directory,file,line
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l

#vzdy bude zacinat s index.php?........
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]